$width-for-four: $product-width * 4 + $product-margin * 4;
$width-for-three: $product-width * 3 + $product-margin * 3;
$width-for-two: $product-width * 2 + $product-margin * 2;

.catalog {
  display: grid;
  max-width: $width-for-four;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 50px 48px;
  justify-content: center;
  margin: 0 auto;
}
