$width-for-four: $product-width * 4 + $product-margin * 4;
$width-for-three: $product-width * 3 + $product-margin * 3;
$width-for-two: $product-width * 2 + $product-margin * 2;

.catalog {
  display: grid;
  max-width: $width-for-four;
  grid-template-columns: repeat(auto-fit, 200px);
  column-gap: 48px;
  row-gap: 50px;
  justify-content: center;
  padding: 0 10px;
  margin: 0 auto;
  width: 100%;
}

// @media (max-width: $width-for-two) {
//   .catalog {
//     width: $width-for-two;
//   }
// }

// @media (max-width: $width-for-three) {
//   .catalog {
//     grid-template-columns: repeat(4, auto);
//   }
// }

// @media (min-width: $width-for-four) {
//   .catalog {
//     width: $width-for-four;
//   }
// }
