.nav {
  display: flex;

  height: $header-height;
  padding: 0;
  margin: 0;

  &__list {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    align-items: center;

    padding: 0;
  }

  &__link {
    display: flex;
    align-items: center;
    position: relative;

    margin-left: 20px;
    height: $header-height;

    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;

    transition: color 0.3s;

    &:hover {
      color: $active-color;
      cursor: pointer;
    }
  }
}

.is-active {
  position: relative;

  margin-left: 0;

  color: $active-color;
}

.is-active::after {
  content: "";
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 4px;

  background-color: $active-color;
  border-radius: 8px;
}
